<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>

    <form action="/contacto/" method="POST"> {% csrf_token %}
        <p>Asunto : <input type="text" name="asunto" id=""></p>
        <p>Email : <input type="text" name="email" id=""></p>
        <p>Mensaje : <textarea name="mensaje" id="" cols="30" rows="10"></textarea></p>
        <input type="submit" value="Enviar">
    </form>
    
</body>
</html>